<div class="backdrop" (click)="onCancel()"></div>
<div class="modal-content">
    <div-glass variant="surface">
        <div class="modal-body">
            <h3 class="modal-title">{{ title }}</h3>
            <p class="modal-message">{{ message }}</p>

            <div class="modal-actions">
                @if (!isAlert) {
                <button class="btn-cancel" (click)="onCancel()">{{ cancelText }}</button>
                }
                <button class="btn-confirm" (click)="onConfirm()">{{ confirmText }}</button>
            </div>
        </div>
    </div-glass>
</div>